.wrapper {
    text-align: left;
    font-family: 'Open Sans Condensed';
}

.header {
    font-size: 22px;
    margin: -10px;
    background: rgb(56, 78, 75);
    padding: 15px 0;
    color: white;
    text-align: center;
}

.cartProduct {
    display: flex;
    border-bottom: 1px #eee solid;
    margin: 10px 0;
}

.cartProduct:first-of-type {
    margin-top: 30px;
}

.left {
    width: 80px;
}

.left img {
    max-width: 100%;
}

.right {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name {
    margin: 0;
    font-size: 16px;
}

.price {
    margin: 6px 0;
}

.amount {
    font-size: 24px;
    margin: 0 10px;
    font-weight: bold;
}

.button {
    border: 1px #5188ef solid;
    font-family: courier;
    color: #5188ef;
    font-size: 20px;
    width: 28px;
    height: 28px;
    padding: 0;
    margin: 8px 8px 8px 0;
}

.button.inactive {
    border-color: lightgray;
    color: lightgray;
}

.remove {
    color: red;
}

.remove:hover {
    cursor: pointer;
    text-decoration: underline;
}