.wrapper {
    text-align: left;
    font-family: 'Open Sans Condensed';
}

.header {
    font-size: 18px;
    margin: 10px 0 15px 0;
}

.cartProduct {
    display: flex;
    border-bottom: 1px #eee solid;
    margin: 10px 0;
}

.left {
    width: 80px;
}

.left img {
    max-width: 100%;
}

.right {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name {
    margin: 0;
    font-size: 16px;
}

.summary {
    text-align: right;
}