{
  "extends": "helmut",
  "plugins": [
    "react",
    "import"
  ],
  "rules": {
    "import/order": "error",
    "react/jsx-curly-spacing": [
      "error",
      {
        "when": "always",
        "spacing": {
          "objectLiterals": "never"
        }
      }
    ],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error"
  },
  "globals": {
    "it": true
  }
}