.wrapper {
  text-align: center;
}

.header {  
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.header h1 {
  font-family: 'Amatic SC', cursive;
  margin-bottom: 10px;
}

.header h2 {
  font-family: 'Open Sans Condensed';
  font-size: 0.7em;
  margin-top: 0;
}

.link {
  color: #61dafb;
}
