.wrapper {
  text-align: center;
}

.header {  
  min-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header h1 {
  font-family: 'Amatic SC', cursive;
  margin-bottom: 10px;
  font-size: 80px;
}

.header h2 {
  font-family: 'Open Sans Condensed';
  font-size: 25px;
  margin-top: 0;
}

.link {
  color: #61dafb;
}

main {
  width: 900px;
  background: rgba(255,255,255,.9);
  margin: 0 auto;
  position: relative;
  z-index: 1;
  box-shadow: 0 2px 15px 1px rgba(0, 0, 0, 0.15);
  padding: 40px;
  border-radius: 5px;
  background-color: #ffffff;
}