.product {
    display: flex;
    padding: 20px 0;
    border-bottom: 1px #eee solid;
}

img {
    width: 200px;
}

.left {
    width: 200px;
}

.right {
    flex: 1 1;
    text-align: left;
    font-family: 'Open Sans Condensed';
    margin-left: 20px;
    padding: 8px 0;
    display: flex;
    flex-direction: column;
}

h3 {
    margin: 0;
    font-size: 24px;
}

.price {
    font-size: 30px;
    margin: 10px 0;
}

p {
    margin: 5px 0;
}

.quantity {
    font-size: 20px;
    color: #aaa;
    margin-left: 10px;
}

.cartButtonWrapper {
    margin: 15px 0;
}